// Insert into frontend/include/hipdnn_frontend/Graph.hpp
// Add these includes to the include block:
#include <hipdnn_frontend/attributes/{{ op.frontend.effective_attributes_filename_full }}.hpp>
#include <hipdnn_frontend/node/{{ op.node_header_filename }}>
